src/main/resources/top-down-PrintService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.printservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="printServiceV2"
	targetNamespace="http://www.printservice.org/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.printservice.org/">
			<xsd:element name="printReservation" type="tns:printReservation">

			</xsd:element>

			<xsd:complexType name="printReservation">
				<xsd:sequence>
					<xsd:element ref="tns:reservation" maxOccurs="1"
						minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
    
            <xsd:element name="reservation" type="tns:reservation"></xsd:element>
        
            <xsd:complexType name="reservation">
            	<xsd:sequence>
            		<xsd:element name="created" type="xsd:dateTime"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element ref="tns:flight" maxOccurs="1"
            			minOccurs="0">
            		</xsd:element>

            		<xsd:element name="password" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="seats" type="xsd:int"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="state" type="tns:stateChoices"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="flight">
            	<xsd:sequence>
            		<xsd:element name="dateOfDeparture"
            			type="xsd:dateTime" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="distance" type="xsd:float"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="from" type="tns:destination"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="name" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="price" type="xsd:float"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="seats" type="xsd:int"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="to" type="tns:destination" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="flight" type="tns:flight"></xsd:element>
        
        
            <xsd:simpleType name="stateChoices">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="NEW"></xsd:enumeration>
            		<xsd:enumeration value="PAID"></xsd:enumeration>
            		<xsd:enumeration value="CANCELED"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
    
            <xsd:complexType name="destination">
            	<xsd:sequence>
            		<xsd:element name="latitude" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="longitude" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="name" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="PrintError" type="tns:PrintError"></xsd:element>
            
            <xsd:complexType name="PrintError">
            	<xsd:sequence></xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
  </wsdl:types>

	<wsdl:message name="PrintReservationRequest">
        <wsdl:part name="PrintReservation" type="tns:reservation"></wsdl:part>
        <wsdl:part name="Email" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PrintReservationResponse">
	</wsdl:message>
	<wsdl:message name="PrintReservationFault">
		<wsdl:part name="PrintException" type="tns:PrintError"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="printServiceV2">
		<wsdl:operation name="PrintReservation">
			<wsdl:input message="tns:PrintReservationRequest"></wsdl:input>
			<wsdl:output message="tns:PrintReservationResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:PrintReservationFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PrintServiceSoapBinding"
		type="tns:printServiceV2">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PrintReservation">
			<soap:operation
				soapAction="http://www.printservice.org/PrintReservation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PrintServiceV2">
		<wsdl:port name="TextPort" binding="tns:PrintServiceSoapBinding">
			<soap:address location="http://localhost:8080/osmanvlastic/PrintServiceV2" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
